# DO NOT FILL OUT THIS FILE WITHOUT REMOVING the .example EXTENSION FIRST
# ENSURE THIS FILE IS FILTERED BY .gitignore PRIOR TO MAKING ANY COMMITS
# https://dev.to/eprenzlin/env-gitignore-and-protecting-api-keys-2b9l 
OPENAI_API_KEY=

MARKET_TYPE=
AMI_ID=ami-02b685d37913a82ed # us-west-2 Ubuntu with NVIDIA drivers
INSTANCE_TYPE=g5.xlarge
KEY_NAME=
SECURITY_GROUP=
INSTANCE_PROFILE=
REPO_URL=
AWS_REGION=
AWS_DEFAULT_REGION=
TRAIN_SCRIPT=train.py
OUTPUT_DIR=training_output
TAG_NAME=
CONFIG_S3_PATH=s3://<bucket>/<filename.yaml>
CONFIG_LOCAL_NAME=<filename.yaml>
AWS_PROFILE=<profile_with_access>
QUAYIO_USERNAME=<username>
QUAYIO_PASSWORD=<password>
